@import url(/styles.css);
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 1rem;
}
* {
  font-family: var(--mainFont);
}
.transactionCard {
  color: var(--secondaryFontColor);
  background-color: var(--backgroundObject);
  display: flex;
  flex-flow: column nowrap;
  gap: 2rem;
  padding: 3.2rem;
  border-radius: 1.5rem;
  border: 1.6rem;
  max-height: 580px;
  width: 80%;
  max-width: 50rem;
  margin: auto;
}
.transactionCard input {
  padding: 0.2rem;
  padding-left: 1rem;
  width: 100%;
  height: 6rem !important;
  background: #fcf4f4;
  border-radius: 1.5rem;
  font-weight: 300;
  font-size: 1.6rem;
  color: var(--secondaryFontColor);
  border: transparent;
}
#date {
  height: 12rem;
}
.transactionCard p {
  font-weight: 300;
  font-size: 18px;
}
#account,
#category {
  padding: 0.2rem;
  padding-left: 1rem;
  width: 100%;
  height: 6rem;
  background-color: #fcf4f4;
  border-radius: 1.5rem;
  font-weight: 300;
  font-size: 16px;
  color: var(--secondaryFontColor);
  border: transparent;
  background-image: url(./assets/icon/arrow-1.webp);
  background-repeat: no-repeat;
  background-position: right;
  background-position-x: 97%;
  background-size: 2%;
}
