@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
html {
  --mainFont: "Roboto", sans-serif;
  --fontColor: white;
  --secondaryFontColor: rgba(99, 99, 99, 1);
}
